body{
	background: url("../images/possible.jpg") no-repeat;
	background-size: cover;
}

.clearly{
	background-color:transparent !important;
}

/* img{
	margin-left: auto;
    margin-right: auto;
} */

.playarea{
	margin:0;
	padding:0;
}

.tracking{
	text-align: justify;
}

/* .pics img{
	height: 3em;
	width: 3em;
	margin: 0;
	padding: 0;
} */

.silly{
	font-size: 16px;
}

.swish{
	font-family:'Delius Swash Caps', cursive;
}

.flower{
	font-family: 'Crafty Girls', cursive;
}

.nada{
	font-family: 'Gloria Hallelujah', cursive;
}

.wiggle{
	text-align: left;
	padding-left: 1.5em;
}

.wobble{
	padding-left: 1.5em;
}

.scootch{
	padding-left: 2.5em;
}