body{
	background: url("../images/possible.jpg") no-repeat;
	background-size: cover;
}

.clearly{
	background-color:transparent !important;
}

.playarea img{
	display: inline-block;
	float: left;
	clear: right;
	margin:0;
}

.mystery p{
	margin:auto;
	padding:0;
}

#boo{
	margin-top:0;
	padding: 0;
}

.mystery img{
	display: block;
}

.tracking{
	text-align: justify;
	font-size: 16px;
}

.silly{
	font-size: 16px;
}

.swish{
	font-family:'Delius Swash Caps', cursive;
}

.flower{
	font-family: 'Crafty Girls', cursive;
}

.nada{
	font-family: 'Gloria Hallelujah', cursive;
}

.wiggle{
	text-align: left;
	padding-left: 1.5em;
}

.wobble{
	padding-left: 1.5em;
}

.scootch{
	padding-left: 2.5em;
}